/* THIS ALLOWS FULL HEIGHT PAGES */
html, body {
    margin: 0;
    height: 100%;
}

/* PARENT SECTIONS */
.container-fluid {
    padding: 0;
}

#landing-parent {
    height: 100vh;
    /*background-color: #4C5C68;*/
    background-color: #252934;
}

#human-parent {
    height: 100vh;
    background-color: #FFFFFF;
}

#experience-parent {
    height: 100vh;
    /*background-color: #DCDCDD;*/
    background-color: #f5f5f5;

}

#projects-parent {
    height: 100vh;
    background-color: #FFFFFF;
}

#contact-parent {
    height: 100vh;
    /*background-color: #46494C;*/
    background-color: #252934;
}

/* LANDING PAGE */
#landing-parent {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#landing-name-span {
    color: darkred;
}

#landing-h1 {
    padding: 0;
    margin: 8px;
    font-size: 60px;
}

#landing-div-p {
    padding: 0;
    width: 100%;
}

#landing-p1 {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 23px;
}

#landing-p2 {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 23px;
}

#landing-div-button-parent {
    margin: 10px;
    width: 100%;
    height: 8%;
}

#landing-div-button {
    margin: 10px;
    width: 30%;
    height: 70%;
    color: #1985A1;
    background-color: #252934;
    border: 5px solid #1985A1;
}

/* I'M A HUMAN PAGE */
#human-h1-parent {
    padding: 0;
    margin: 0;
    height: 40px;
}

#human-h1 {
    width: 30%;
    padding: 0;
    text-align: center;
    margin: 0;
}

#human-h1-bottom-border-parent {
    padding: 0;
    margin: 0;
    height: 5px;
}

#human-h1-bottom-border {
    width: 20%;
    border-bottom: 2px solid #252934;
}

/* FOOTER */
nav {
    background-color: #000000;
}