


/*** FULL PAGE SELECTORS ***/
/* Full height pages */
html, body {
    margin: 0;
    height: 100%;
}

/* List style */
ul {
    list-style: none;
}

/*** PARENT SECTIONS ***/
.container-fluid {
    padding: 0;
}

#landing-parent {
    height: 100vh;
    /*background-color: #4C5C68;*/
    background-color: #252934;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#human-parent {
    height: 100vh;
    background-color: #FFFFFF;
}

#experience-parent {
    height: 100vh;
    /*background-color: #DCDCDD;*/
    background-color: #f5f5f5;

}

#projects-parent {
    height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
}

#contact-parent {
    height: 100vh;
    /*background-color: #46494C;*/
    background-color: #252934;
    color: #FFFFFF;
}

/*** LANDING PAGE ***/

/*#landing-name-span {
    color: darkred;
}*/

#landing-h1 {
    width: 80%;
    padding: 0;
    margin: 8px;
    /*font-size: 70px;*/
    font-size: 4.375rem;
    text-align: center;
}

#landing-div-p {
    padding: 0;
    width: 80%;
}

#landing-p1 {
    padding: 0;
    margin: 0;
    width: 100%;
    /*font-size: 25px;*/
    font-size: 1.563rem;
    text-align: center;
}

#landing-p2 {
    padding: 0;
    margin: 0;
    width: 100%;
    /*font-size: 25px;*/
    font-size: 1.563rem;
    text-align: center;
}

#landing-div-button-parent {
    margin: 10px;
    width: 100%;
    height: 8%;
}

#landing-div-button {
    /*margin: 10px;*/
    margin: 0.625em;
    width: 30%;
    height: 70%;
    /*font-size: 25px;*/
    font-size: 1.563rem;
    color: #1985A1;
    background-color: #252934;
    border: 5px solid #1985A1;
}

/*** I'M A HUMAN PAGE ***/
#human-h1-parent {
    /*height: 50px;*/
    height: 3.125em;
    padding: 0;
    /*margin: 20px 0 0 0;*/
    margin: 1.25em 0 0 0;
}

#human-h1 {
    width: 100%;
    padding: 0;
    /*margin: 0 0 8px 0;*/
    margin: 0 0 0.5em 0;
    text-align: center;

}

#human-h1-bottom-border-parent {
    /*height: 5px;*/
    height: 0.313em;
    padding: 0;
    /*margin: 0 0 60px 0;*/
    margin: 0 0 3.75em 0;
}

#human-h1-bottom-border {
    width: 15%;
    border-bottom: 3px solid #252934;
}

#human-picture-parent {
    /*height: 200px;*/
    /*width: 111px;*/
    height: 12.5em;
    width: 6.938em;
    background: red;
    /*border-radius: 30px;*/
    border-radius: 1.875em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.human-icon-parent {
    /*height: 50px;*/
    /*width: 50px;*/
    height: 3.125em;
    width: 3.125em;
    background: red;
}

#human-community-service-parent {
    /*margin: 30px 0 0 0;*/
    margin: 1.875em;
    padding: 0;
}

#human-icon-community {

}

#human-education-growth-parent {
    /*margin: 60px 0 0 0;*/
    margin: 3.75em;
    padding: 0;

}

/*** FOOTER ***/
nav {
    height: 15em;
    background: linear-gradient(to top, #000000, 85%, #262626);
    /*background-color: #000000;*/
}